body{
    margin:0;
    background:#141414;
    color:white;
    font-family:Arial;
}

/* topo */
.player-header{

    position: fixed;

    top: 0;

    width: 100%;

    height: 70px;

    background: rgba(0,0,0,0.9);

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 0 20px;

    box-sizing: border-box;

    z-index: 1000;

}


/* TITULO CENTRALIZADO REAL */

.titulo{

    position: absolute;

    left: 50%;

    transform: translateX(-50%);

    font-size: 22px;

    font-weight: bold;

    text-align: center;

    pointer-events: none;

}

/* botão voltar */
.btn-voltar{

    display: flex;

    align-items: center;

    gap: 8px;

    background: rgba(255,255,255,0.08);

    border: 1px solid rgba(255,255,255,0.15);

    color: white;

    padding: 8px 14px;

    border-radius: 8px;

    cursor: pointer;

    font-size: 14px;

    transition: 0.2s;

}


/* hover */

.btn-voltar:hover{

    background: rgba(255,255,255,0.18);

    transform: scale(1.05);

}


/* clique */

.btn-voltar:active{

    transform: scale(0.95);

}


/* icone */

.btn-voltar .icone{

    font-size: 16px;

}

@media (max-width:768px){

    .btn-voltar{

        padding: 6px 10px;

        font-size: 13px;

    }

}

/* nome canal */
#nomeCanal{

    margin:0;

}

/* centralizar player */
main{

    display:flex;

    justify-content:center;

    align-items:center;

    height:calc(100vh - 70px);

}

/* CONTAINER PLAYER */

.player-container{

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

    padding-top: 60px;

    box-sizing: border-box;

}

/* CONTAINER */

.player-container{

    display: flex;

    justify-content: center;

    align-items: flex-start;

    padding-top: 100px; /* espaço do header + titulo */

    padding-left: 10px;
    padding-right: 10px;

    min-height: 100vh;

    box-sizing: border-box;

}


/* PLAYER DESKTOP */

iframe{

    width: 70%;

    max-width: 1200px;

    aspect-ratio: 16 / 9;

    border: none;

    border-radius: 12px;

    box-shadow: 0 0 40px rgba(0,0,0,0.8);

}

/* ===================== */
/* CELULAR */
/* ===================== */

 @media (max-width:768px){

    .player-container{

        padding-top: 250px;

    }

}

    iframe{

        width: 100%;

        aspect-ratio: 16 / 9;

        height: auto;

        border-radius: 8px;

    }